/BoardGame/build/
/BoardGame/dist/
/BoardGame/nbproject/private/
BoardGame/nbproject/private/
BoardGame/nbproject/private/private.xml
BoardGame/nbproject/
/MainProject/nbproject/private/
/MainProject/build/
